<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f43709e85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylewellcom.css">

    <title>LP platform</title>
</head>

<body> 
  
    <form class="welcomeForm" action="">
      <img class="imgb" src="bg.svg" alt="">
      <h5>Welcome to LinkedIn platform</h5>
      <p>Create an account or login</p>
      <a href="/user/register" class="btn btn-primary ">Register</a>
      <a href="/user/login" class="btn btn-secondary">Login</a>
    </form>
  
</body>
</html>